body,
html {
  font-family: Hind, sans-serif;
  background-color: #f6f8f8;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Hind, sans-serif;
}
section {
  display: block;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  background: #1C58AD;
  z-index: 999;
  text-align: center;
}
nav ul {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
  color: white;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
}
nav ul li:hover {
  cursor: pointer;
}
nav ul li a {
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px 10px;
  margin: -5px -10px;
  display: block;
}
nav ul li a:hover,
nav ul li a:active {
  color: white;
  text-decoration: none;
  border: 1px solid white;
}
nav a.pull-left {
  color: white;
  display: block;
  float: none !important;
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.35em;
}
nav a.pull-left img {
  margin: -5px 5px 0 0;
}
h1 {
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: bold;
  border-bottom: 1px solid white;
  display: inline-block;
}
header p {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
}
#back-to-top {
  position: fixed;
  font-size: 2em;
  border: 1px solid #1C58AD;
  color: #1C58AD;
  padding: 5px 10px;
  background-color: #f6f8f8;
  border-radius: 3px;
  bottom: 10px;
  right: 10px;
}
#back-to-top:hover {
  cursor: pointer;
  padding: 7px 12px;
  bottom: 8px;
  right: 8px;
}
.landing {
  background-color: #1C58AD;
  color: white;
  padding: 100px 0 50px;
  text-align: center;
}
.landing a {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
  text-align: center;
  margin: 2.5em auto -1em;
  font-size: 1.25em;
  font-weight: 100;
  width: 250px;
}
.landing a:hover {
  text-decoration: none;
  background-color: white;
  color: #1C58AD;
}
.header-logo img {
  display: inline-block;
  max-width: 100%;
  width: 125px;
}
.overview {
  padding: 50px 0 0;
}
.overview .heading {
  text-align: center;
}
.overview h2 {
  display: inline-block;
  color: #1C58AD;
  border: 3px solid #1C58AD;
  font-size: 2.5em;
  font-weight: bold;
  margin: 1em 0;
  padding: 10px 10px 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.overview .research h3 {
  color: #1C58AD;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid #1C58AD;
}
.overview .research h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 2em 0 0;
  color: #4a4a4a;
}
.overview .research img {
  width: 100%;
  margin: 1.5em auto;
}
.overview .research img.screen {
  width: 75%;
  border: 1px solid #ABABAB;
  margin: 1.5em 12.5%;
}
.overview .research ul {
  margin-bottom: 1.5em;
}
.overview .research .col-sm-4 img {
  display: none;
}
.overview .row {
  margin-top: 3em;
}
.overview .row:first-child {
  margin-top: 0;
}
.overview .subtitle {
  font-style: italic;
  font-size: 1em;
  margin-bottom: 0;
}
.overview p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.overview ul,
.overview ol {
  font-size: 1.2em;
}
.overview ul.affinity,
.overview ol.affinity {
  font-size: 1em;
}
.overview ul.affinity li,
.overview ol.affinity li {
  margin-bottom: 2.5em;
}
.overview ul.affinity img,
.overview ol.affinity img {
  width: 100%;
  margin: 0 0 1em;
  vertical-align: top;
}
.blank {
  padding: 50px 30px;
}
.blank.team,
.blank.research {
  padding: 20px;
}
.imaged {
  background: no-repeat center 25%;
  background-size: cover;
  color: white;
  position: relative;
  padding: 0 15px 25px;
}
.imaged.what {
  background-image: url(../img/workbg.jpg);
}
.imaged.who {
  background-image: url(../img/teambg.jpg);
}
.imaged.client {
  background-image: url(../img/maribg.jpg);
}
.imaged.how {
  background-image: url(../img/processbg.JPG);
}
.imaged.finding {
  background-image: url(../img/findingbg.JPG);
}
.imaged.development {
  background-image: url(../img/development.jpg);
}
.imaged h2 {
  border-color: white;
  color: white;
  font-size: 2.5em;
}
.imaged .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(25, 25, 112, 0.3);
  z-index: 0;
}
.profile {
  background-color: #fcfafc;
  border-bottom: 2px solid #cfcfcf;
  border-radius: 3px;
  margin: 0 auto 2em;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.profile .text {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 85px;
  overflow: hidden;
  transition: all 0.4s;
  position: relative;
}
.profile .text .button {
  background-color: #1C58AD;
  border-radius: 3px;
  color: white;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em;
  margin: 0;
  transition: all 0.75s;
}
.profile .text .button:hover {
  background-color: #4d8be2;
  cursor: pointer;
}
.profile h3 {
  color: #1C58AD;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0 15px;
  text-transform: uppercase;
}
.profile .title {
  font-weight: 100;
  margin: 0 0 1em;
  text-transform: uppercase;
}
.profile p {
  padding: 0 15px;
}
.profile img {
  width: 100%;
}
.no-padding {
  padding: 0;
}
.container-fluid:after {
  content: ' ';
  clear: both;
  display: table;
}
footer {
  margin: 2em 0 0;
  padding: 1.5em 5px;
  background-color: #E6E9ED;
  text-align: center;
}
footer ul {
  list-style: none;
  margin: 4em 0 1.5em;
  padding: 0;
  text-transform: uppercase;
}
footer ul li a {
  color: #1C58AD;
  display: block;
}
footer h2 {
  margin-top: .5em;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  nav {
    text-align: right;
    padding: 15px 30px;
  }
  nav ul li {
    font-size: 1.15em;
    margin: 0 15px;
  }
  nav a.pull-left {
    float: left !important;
    margin-bottom: 0;
  }
  .landing {
    padding: 150px 0;
    text-align: left;
  }
  .landing.short {
    padding: 150px 0;
  }
  .landing.short .header-logo img {
    width: 150px;
  }
  .overview .heading {
    text-align: right;
  }
  .blank {
    padding: 100px 30px;
  }
  .imaged {
    background: no-repeat top center fixed;
    background-size: cover;
    padding: 100px 15px 150px;
  }
  .profile {
    width: 70%;
    margin: 0 15px 2em;
    padding: 0 0 85px;
  }
  .profile .text {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: visible;
  }
  .profile .text .button {
    top: -20px;
  }
  h1 {
    font-size: 4.5em;
    padding-right: 1.5em;
  }
  header p {
    letter-spacing: 2px;
  }
  .header-logo {
    text-align: right;
  }
  .header-logo img {
    display: inline-block;
    width: 175px;
  }
  footer {
    text-align: left;
  }
  footer ul {
    margin-top: 4.2em;
  }
  .overview h2 {
    margin: 0 0 1em;
    text-align: right;
  }
  .overview h2:before {
    margin-right: 0;
    right: 0;
  }
  .overview .research h3 {
    margin: 0 0 0 10%;
    text-align: right;
    width: 90%;
  }
  .overview .research img.screen {
    width: 45%;
    margin-right: 1em;
    margin-left: 0;
    vertical-align: top;
  }
  .overview .research .col-sm-4 {
    text-align: right;
  }
  .overview .research .col-sm-4 img {
    width: 75px;
    margin: 1em auto;
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  nav ul li {
    margin: 0 25px;
  }
  .landing {
    padding: 225px 0 175px;
  }
  .imaged {
    background: no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 200px;
  }
  .profile {
    width: 90%;
  }
  h1 {
    font-size: 6em;
    padding-right: 2em;
  }
  header p {
    letter-spacing: 3px;
  }
  .header-logo img {
    display: inline-block;
    width: 200px;
  }
  .overview .research h3 {
    width: 70%;
    margin-left: 30%;
  }
  .overview .research img {
    width: 120%;
  }
}
